<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
<stringAttribute key="TLCCmdLineParameters" value=""/>
<stringAttribute key="configurationName" value="Model_1"/>
<booleanAttribute key="deferLiveness" value="false"/>
<intAttribute key="dfidDepth" value="100"/>
<booleanAttribute key="dfidMode" value="false"/>
<intAttribute key="distributedFPSetCount" value="0"/>
<stringAttribute key="distributedNetworkInterface" value="192.168.178.21"/>
<intAttribute key="distributedNodesCount" value="1"/>
<stringAttribute key="distributedTLC" value="off"/>
<stringAttribute key="distributedTLCVMArgs" value=""/>
<intAttribute key="fpBits" value="1"/>
<intAttribute key="fpIndex" value="1"/>
<intAttribute key="maxHeapSize" value="25"/>
<intAttribute key="maxSetSize" value="1000000"/>
<booleanAttribute key="mcMode" value="true"/>
<stringAttribute key="modelBehaviorInit" value=""/>
<stringAttribute key="modelBehaviorNext" value=""/>
<stringAttribute key="modelBehaviorSpec" value="Spec"/>
<intAttribute key="modelBehaviorSpecType" value="1"/>
<stringAttribute key="modelBehaviorVars" value="cfgs, p_log, pc, inflight, p_vote, p_committed, p_term, p_role, p_cfg"/>
<stringAttribute key="modelComments" value=""/>
<booleanAttribute key="modelCorrectnessCheckDeadlock" value="true"/>
<listAttribute key="modelCorrectnessInvariants">
<listEntry value="1AllLogsMatch"/>
<listEntry value="1TypeInvariant"/>
</listAttribute>
<listAttribute key="modelCorrectnessProperties">
<listEntry value="1TermNeverDecreases"/>
<listEntry value="1Termination"/>
</listAttribute>
<stringAttribute key="modelExpressionEval" value=""/>
<stringAttribute key="modelParameterActionConstraint" value=""/>
<listAttribute key="modelParameterConstants">
<listEntry value="Peers;;{p1, p2, p3, p4};1;1"/>
<listEntry value="Follower;;Follower;1;0"/>
<listEntry value="Leader;;Leader;1;0"/>
<listEntry value="Candidate;;Candidate;1;0"/>
<listEntry value="NULL;;NULL;1;0"/>
<listEntry value="MsgVoteResp;;MsgVoteResp;1;0"/>
<listEntry value="Cfgs;;&lt;&lt;&lt;&lt;{p1, p2, p3}, {}&gt;&gt;, &lt;&lt;{p1, p2, p4}, {}&gt;&gt;&gt;&gt;;0;0"/>
<listEntry value="MsgAppResp;;MsgAppResp;1;0"/>
<listEntry value="MsgApp;;MsgApp;1;0"/>
<listEntry value="MsgVote;;MsgVote;1;0"/>
<listEntry value="MaxTerm;;3;0;0"/>
</listAttribute>
<stringAttribute key="modelParameterContraint" value=""/>
<listAttribute key="modelParameterDefinitions"/>
<stringAttribute key="modelParameterModelValues" value="{}"/>
<stringAttribute key="modelParameterNewDefinitions" value=""/>
<intAttribute key="numberOfWorkers" value="4"/>
<booleanAttribute key="recover" value="false"/>
<stringAttribute key="result.mail.address" value=""/>
<intAttribute key="simuAril" value="-1"/>
<intAttribute key="simuDepth" value="100"/>
<intAttribute key="simuSeed" value="-1"/>
<stringAttribute key="specName" value="raft"/>
<listAttribute key="traceExploreExpressions">
<listEntry value="0log[p2]"/>
<listEntry value="0MaybeBecomeLeader(State(p4))"/>
<listEntry value="0AcksFor(p4, 3, Inflight(State(p4), MsgVoteResp))"/>
<listEntry value="0Inflight(State(p4), MsgVoteResp)"/>
<listEntry value="0LET&#10;&#9;msg == [term |-&gt; 3, type |-&gt; MsgVote, from |-&gt; p4, logTerm |-&gt; 1, logIndex |-&gt; 1]&#10;&#9;state == State(p4)&#10;&#9;rej == \/ msg.term /= state.term&#10;               \/ state.vote \notin {NULL, msg.from}&#10;     IN rej"/>
<listEntry value="1[ type |-&gt; MsgApp,&#10;    from |-&gt; p1,&#10;    term |-&gt; 2,&#10;    logTerm |-&gt; 1,&#10;    logIndex |-&gt; 1,&#10;    cfg |-&gt; &lt;&lt;{p1, p2, p3}, {}&gt;&gt;,&#10;    committed |-&gt; 1 ] \in TypeMsgAppInvariant"/>
</listAttribute>
<stringAttribute key="view" value=""/>
<booleanAttribute key="visualizeStateGraph" value="false"/>
</launchConfiguration>
